.container{
    background-image: url("dark.jpg");
    background-size: cover;
    margin: 0;
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.text{
    color: white;
    font-size: 100px;
}