<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/stylesheet.css}">
<head>

    <title>December Market</title>

</head>

<body>

<div class="container">
    <!--/*@thymesVar id="equipment" type="com.example.demo.Equipment"*/-->
    <span class="text" th:text= "'Distance ' + ${equipment.getDistance()} + 'm'"> </span>
    <span class="text" th:text="'Remaining time ' + ${equipment.getDuration()} + 'min'"> </span>
    <span class="text" th:text="'Actual distance ' + ${equipment.getActualDistance()} + 'm'"> </span>
</div>
<meta http-equiv="Refresh" content="5" />
</body>
</html>